.task-tools {
    transform: translate(20rem, 3.5rem);
    a {
        margin: 0 5px;
        color: rgba(93, 91, 91, .24);
        
        &:hover {
            color: rgba(93, 91, 91, 1);
        }

        &:visited {
            color: rgba(93, 91, 91, .24);
        }
    }
}

.task-wrapper {
    border-radius: 15px;
    background: #d6c8b3;
    padding: 20px;
    padding-top: 40px;
    margin-bottom: 5px; 
    width: 300px;
    height: auto;

    .task-title {
        font-weight: 600;
        text-align: center;
        padding-bottom: 10px;
    }

    .task-description {
        text-align: justify;
    }

    span {
        display: block;

        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }
}

.btn-task,
.btn-list-task,
.btn-create-task,
.btn-round {
    border-radius: 5px 20px;
}

.btn-task,
.btn-create-task {
    padding: 0.7rem 2rem;

}

.jumbotron {
    .btn {
        padding: 0.7rem 2.4rem;
    }
}

.tb-space {
    margin-bottom: 2.6rem;
}

.edit-tools {
    margin: 2rem 0;

    .edit-option {
        display: inline;
        margin: 0 0.5rem;
    }
}