.task-tools {
    transform: translate(20rem, 3.5rem);
    a {
        margin: 0 5px;
        .gliphicon {
            color: red;
        }
    }
}

.task-wrapper {
    border-radius: 15px;
    background: #d6c8b3;
    padding: 20px;
    padding-top: 40px;
    margin-bottom: 5px; 
    width: 300px;
    height: auto;

    .task-title {
        font-weight: 600;
        text-align: center;
        padding-bottom: 10px;
    }

    .task-description {
        text-align: justify;
    }

    span {
        display: block;

        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }
}

.btn-task,
.btn-list-task,
.btn-create-task {
    border-radius: 5px 20px;
}

.btn-task,
.btn-create-task {
    padding: 0.7rem 2rem;

}

.btn-list-task {
    padding: 0.7rem 2.4rem;
    transform: translate(78px, -4px);
}

.btn-task {
    transform: translate(19rem, -4.5rem);
}